/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
}

ul, li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.d-flex {
  display: flex;
}

body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  color: #333;
  outline: none;
}

/*Header*/
.header {
  background: #FeD100;
}

/*Header banner*/
.header .header__banner {
  background: #FeD100;
}

.header .header__banner .container {
  display: flex;
  align-items: center;
  position: relative;
}

.header .header__banner .container .top-banner__wrapper .top-banner__slidding-item img {
  height: 100%;
  width: 100%;
}

.header .header__banner .container .top-banner__wrapper .button-next,
.header .header__banner .container .top-banner__wrapper .button-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  color: #232323;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 30px;
}

.header .header__banner .container .top-banner__wrapper .button-next:hover,
.header .header__banner .container .top-banner__wrapper .button-prev:hover {
  color: #FFF;
}

.header .header__banner .container .top-banner__wrapper .button-next {
  right: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

/*Header navbar*/
.header .header__navbar {
  background: black;
  overflow: hidden;
}

.header .header__navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 12px;
  color: #FFFFFF;
}

.header .header__navbar .container .logo {
  display: flex;
  align-items: center;
}

.header .header__navbar .container .logo img {
  width: 140px;
}

/*Toolbar*/
.header .header__navbar .container .toolbar {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.header .header__navbar .container .toolbar > div:not(:first-child) {
  display: flex;
  align-items: center;
}

.header .header__navbar .container .toolbar .location {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.header .header__navbar .container .toolbar .location span {
  margin: 0;
}

.header .header__navbar .container .toolbar .location span:last-child {
  color: #FFE500;
}

.header .header__navbar .container .toolbar .search-box {
  position: relative;
}

.header .header__navbar .container .toolbar .search-box .search {
  border-radius: 5px;
  border: 0;
  width: 210px;
  padding: 8px 35px 8px 13px;
}

.header .header__navbar .container .toolbar .search-box .fa-search {
  position: absolute;
  right: 13px;
  color: gainsboro;
}

.header .header__navbar .container .toolbar .cart {
  color: #FFF;
  padding: 5px 8px;
  border: 1px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
}

.header .header__navbar .container .toolbar .cart:hover {
  background: rgba(255, 255, 255, .4);
}

.header .header__navbar .container .toolbar .cart span {
  margin-left: 5px;
}

.header .header__navbar .container .toolbar .history-order {
  text-align: center;
}

.header .header__navbar .container .toolbar .history-order a {
  color: #FFFFFF;
}

.header .header__navbar .container .toolbar .history-order a:hover {
  color: #FFE500;
}

.header .header__navbar .container .promotion {
  color: #FFE500;
  width: 18%;
  position: relative;
}

.header .header__navbar .container .promotion p {
  padding: 0 10px 0 20px;
}

.header .header__navbar .container .promotion .dot {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  display: block;
  box-shadow: 0 0 0 0px rgb(255 230 107 / 70%);
  border-radius: 50%;
  background-color: #FFE500;
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  transition: all 300ms ease-in-out;
}

.header .header__navbar .container .redirect {
  text-align: center;
}

.header .header__navbar .container .redirect a {
  color: #FFF;
}

.header .header__navbar .container .redirect a:hover {
  color: #FFE500;
}

.header .header__navbar .container > div {
  position: relative;
}

.header .header__navbar .container > div:not(:last-child):after {
  content: "";
  position: absolute;
  border-right: 2px solid #232323;
  right: -15px;
  top: -50px;
  height: 100px;
}

/*Animation*/
@keyframes pulsing {
  to {
      box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
  }
}

/*Header menu*/
.header .header__menu {
  background: #FeD100;
}

.header .header__menu .container ul {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.header .header__menu .container ul li {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header .header__menu .container ul li a {
  color: #333333;
  padding: 0 10px;
  position: relative;
}

.header .header__menu .container ul li a .onsale {
  display: inline-block;
  border: 0;
  background-color: #f51212;
  border-radius: 4px;
  color: #fff;
  font-size: 9px;
  font-weight: normal;
  position: absolute;
  padding: 0 3px;
  right: -10px;
  top: -10px;
  line-height: 13px;
}

.header .header__menu .container ul li a .onsale:after {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #f00;
  bottom: -3px;
  content: '';
  left: 5px;
  position: absolute;

}

.header .header__menu .container ul li:hover,
.header .header__menu .container ul li.active {
  background: #FFF;
}

/*Banner*/
.banner {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.banner .main-banner {
  display: flex;
}

.banner .main-banner .main-banner__wrapper {
  width: 830px;
}

.banner .main-banner .main-banner__wrapper .swiper-button-prev,
.banner .main-banner .main-banner__wrapper .swiper-button-next,
.onl-sale .onl-sale__list .swiper-button-prev,
.onl-sale .onl-sale__list .swiper-button-next{
  background: rgba(255, 255, 255, .9) !important;
  height: 60px;
  width: 30px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 2;
  color: #666;
}

.banner .main-banner .main-banner__wrapper .swiper-button-prev,
.banner .main-banner .main-banner__wrapper .swiper-button-next{
  opacity: 0;
  transition: .3s;
}

.banner .main-banner .main-banner__wrapper:hover .swiper-button-prev,
.banner .main-banner .main-banner__wrapper:hover .swiper-button-next{
  opacity: 1;
}

.banner .main-banner .main-banner__wrapper .swiper-button-prev,
.onl-sale .onl-sale__list .swiper-button-prev {
  box-shadow: 6px 0 4px rgb(0 0 0 / 5%), 4px 0 4px rgb(0 0 0 / 9%);
  border-radius: 0 4px 4px 0;
  left: 0;
}

.banner .main-banner .main-banner__wrapper .swiper-button-next,
.onl-sale .onl-sale__list .swiper-button-next{
  box-shadow: -6px 0 4px rgb(0 0 0 / 5%), -4px 0 4px rgb(0 0 0 / 9%);
  border-radius: 4px 0 0 4px;
  right: 0;
}


.banner .main-banner .main-banner__wrapper .main-banner__slidding {
  display: flex;
}

.banner .main-banner .main-banner__wrapper .main-banner__slidding .main-banner__slidding-item {
  display: flex;
}

.banner .main-banner .main-banner__wrapper .main-banner__navigation {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 0 0 5px 5px;
}

.banner .main-banner .main-banner__wrapper .main-banner__navigation .main-banner__navigation-item {
  text-align: center;
  position: relative;
}

.banner .main-banner .main-banner__wrapper .main-banner__navigation .main-banner__navigation-item.swiper-slide-thumb-active p {
  font-weight: bold;
  border-top: 4px solid #FeD100;
}

.banner .main-banner .main-banner__wrapper .main-banner__navigation .main-banner__navigation-item p {
  padding: 5px;
  border-top: 4px solid #FFF;
}

.banner .main-banner .main-banner__wrapper .main-banner__navigation .main-banner__navigation-item:not(:last-child):before {
  background-color: #e5e5e5;
  content: '';
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  right: 0;
  width: 1px;
}

.banner .secondary-banner {
  width: calc(100% - 830px);
  display: flex;
  flex-wrap: wrap;
}

.banner .secondary-banner .secondary-banner__item {
  width: calc(50% - 15px);
  display: flex;
  padding: 0 0 10px 15px;
}

.banner .secondary-banner .secondary-banner__item img {
  width: 100%;
}

.banner .vertical-banner {
  margin-top: 10px;
  display: flex;
}

.banner .side-banner .side-banner__left,
.banner .side-banner .side-banner__right {
  position: fixed;
  top: 25%;
}

.banner .side-banner .side-banner__left {
  left: calc(((100vw - 1200px) / 2) - 95px)
}

.banner .side-banner .side-banner__right {
  right: calc(((100vw - 1200px) / 2) - 95px)
}

.onl-sale {
  background-color: #fed100;
  border-radius: 4px;
  margin-top: 15px;
  padding: 10px 0;
}

.onl-sale .onl-sale__header {
  padding: 0 10px 10px;
}

.onl-sale .onl-sale__header p {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  line-height: 27px;
}

.onl-sale .swiper.onl-sale__list {
  display: flex;
  overflow: hidden;
  padding: 0px 10px;
}

.onl-sale__item {

  width: 230px;
  background-color: #fff;
  padding-top: 10px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.onl-sale__item-outer {
  display: block;
  padding: 10px 15px;
}

.onl-sale__item-info {
  margin: 10px 0px;
  border-radius: 20px;
  display: inline-block;
  background: linear-gradient(to right, #0358d6, #054bab);
  padding-right: 10px;

}

.onl-sale__item-info img {
  float: left;
  width: 20px;
  height: 20px;
}

.onl-sale__item-info span {
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  margin-left: 3px;
  overflow: hidden;
  padding: 4px 0 0 3px;
  text-transform: uppercase;
}

.onl-sale__item-img {
  height: 220px;
}

.onl-sale__item-img img {
  margin-top: 15px;
  width: 198px;
  height: 198px;
  transition: .5s;
}

.onl-sale__item-img img:hover {
  margin-top: 0px;
}

.onl-sale__item h3 {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 5px;
  color: #333;
}

.onl-sale__item h3:hover {
  color: #288ad6
}

.onl-sale__item .onl-sale__item-status {
  color: #333;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0 !important;
  margin-bottom: 5px;
}

.onl-sale__item strong {
  color: #222;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 5px;
}

.outstanding-phone{
  padding-top: 25px;
}

.outstanding-phone_header{
  display: block;
}

.outstanding-phone_header > p{
  width: 30% ;
  float: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.filter_outstanding-phone{
  float: right;
}

.filter_outstanding-phone > a{
  border-radius: 16px;
  border: #e0e0e0 1px solid;
  font-size: 13px;
  padding: 10px 11px;
}

.filter_outstanding-phone > a:hover{
  color: #288ad6;
}

.list_outstanding-phone{
  display: grid;
  margin-top: 25px;
  grid-template-columns: auto auto auto auto auto;
  cursor: pointer;
  border-left: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  overflow: hidden;
}

.item-list_outstanding-phone{
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 14px;
  width: auto;
}

.item-list_outstanding-phone:hover .outstanding-phone_name{
  color: #288ad6
}

.item-list_outstanding-phone:hover{
  box-shadow: 0 2px 12px rgb(0 0 0 / 12%);

}

.item-list_outstanding-phone_img{
  height: 225px;
}

.item-list_outstanding-phone_img >img {
  margin-top: 20px;
  width: 210px;
  height: 210px;
}

.item-list_outstanding-phone_img >img:hover{
  margin-top: 0px;
  transition: 0.7s;
}


.outstanding-phone_name{
  margin-top: 20px;
  margin-bottom: 5px;
}


.outstanding-phone_cost{
  display: flex;
  margin-bottom: 5px;
}

.outstanding-phone_price{
  text-decoration-line: line-through;
}

.outstanding-phone_price_promotion{
  margin-bottom: 5px;
}

.outstanding-phone_rating > i{
  color: orange;
}

.item-list_outstanding-laptop_img{
  height: 180px;
}

.item-list_outstanding-laptop_img > img{
  width: 210px !important;
  height: auto !important;
}

.notifi-laptop{
  margin-top: 0px !important;
  background: linear-gradient(to right,#ef3006,#c60004) !important;
}

.outstanding-laptop > p {
  width: 40% !important;
}

.outstanding-laptop_name{
  margin-top: 0px;
}

.info-item{
  display: flex;
}

.info-item > div {
  border: 2px solid #f1f1f1;
}

.outstanding-accessory_name{
  margin-top: 50px;
}

.outstanding-accessory_info{
  color: #333;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0 !important;
  margin-bottom: 5px;
}

.all-wrap{
  margin-top: 400px;
}

.page-brand{
  margin-top: 20px;
}

.page-brand_header{
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 20px;
}

.page-brand_content{
  display: flex;
  
}
.page-brand_content_img{
  justify-content: space-between;
  padding: 0px 5px;
  cursor: pointer;
}

.page-brand_content_img > img {
  border-radius: 5px;
}

.new-product_content_img > img{
  width: 100%;
}

.clock{
  height: 460px;
  background-color: #003743;
  background-repeat: no-repeat;
  background-size: 336px 449px;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.clock__left, .clock__right{
  float: left;
}


.clock__left{
  padding: 10px;
  width: 240px;
  height: 38px;
}

.clock__right{
  width: calc(100% - 240px);
}

.clock__right .clock__right--header{
  color:#fff;
  display: flex;
  justify-content: ;
}

.clock__right .clock__right--header ul{
  display: flex;
  justify-content: space-around;
}

.clock__right .clock__right--header ul li{
  list-style: none;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 5px;
}

.clock__right .clock__right--header p{
  margin: auto;
}

.clock__right .clock__right--content .clock__right__item--content{
  background-color: #fff;
  margin-top: 0px;
  border-radius: 5px;
  padding: 10px;
  border-bottom: none;
  width: 99%
}

.clock__right__product--content{
  border-bottom: none;
}

.application{
  display: flex;
  margin-top: 40px;
}

.application .application__col1{
  padding-right: 15px;
  width: 67%;
}

.application .application__col1 .application__col1--header{
  display: flex;
  margin-bottom: 10px;
}

.application .application__col1 .application__col1--header h2{
  font-weight: bold;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 16px;
}

.application .application__col1 .application__col1--header a{
  color: #2f80ed;
}

.application .application__col1 .application__col1--header i{
  font-size: 10px;
}

.application .application__col1 .application__col1--content{
  display: flex;
}

.application__col1--content--left{
  width: 61%;
}

.application__col1--content--left img{
  border-radius: 4px;
  width: 100%;
  object-fit: cover;
}

.application__col1--content--left p:not(:last-child){
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin-top: 10px;
}

.application__col1--content--left p + p{
  color: #999;
    line-height: 21px;
    margin-top: 5px;
}

.application__col1--content--right{
  margin-left: 10px;
  width: calc(39% - 10px);
}

.application__col1__item--content--right{
  align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.application__col1__item--content--right img{
  width: 120px;
  height: 70px;
  
}

.application__col1__item--desc--right{
  padding-left: 10px;
  width: calc(100% - 120px);
}

.application__col1__item--desc--right p{
  font-size: 12px;
    line-height: 17px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.application__col1__item--desc--right p + p{
  color: #999;
    font-size: 10px;
    line-height: 15px;
    padding-top: 2px;
}

.application__col2{
  padding-right: 15px;
  width: 33%;
}

.application .application__col2 .application__col2--header{
  display: flex;
  margin-bottom: 10px;
}

.application .application__col2 .application__col2--header h2{
  font-weight: bold;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 16px;
}

.application .application__col2 .application__col2--header a{
  color: #2f80ed;
}

.application .application__col2 .application__col2--header i{
  font-size: 10px;
}

.application__col2--content img{
  width: 100%;
  border-radius: 5px;
}

.application__col2--game__content{
  display: flex;
  margin-top: 10px;
}

.application__col2--game__content img{
  width: 60px;
}

.application__col2--desc{
  margin-left: 10px;
}

.application__col2--desc p:not(:last-child){
  font-weight: bold;
  line-height: 21px;
}


.application__col2--meta span{
  background-color: #07a358;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  padding: 0 4px;
}

.application__col2--meta p{
  font-size: 13px;
  line-height: 16px;
  margin-left: 3px;
}

.application__col2--content ul li:before{
  background-color: #2f80ed;
  border-radius: 50%;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 5px;
}

.application__col2--content ul li{
  color: #2f80ed;
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
  padding-left: 15px;
  position: relative;
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.footer{
  margin-top: 10px;
  display: flex;
}

.footer .footer__top{
  width: 25%;
}

.footer .footer__top ul li{
  margin: 10px 0px;
}

.phone__number{
  color: #2f80ed;
    font-weight: bold;
}
.social{
  margin-bottom: 20px;
}
.social {
  margin-right: 20px;
  
}

.social i{
  margin-top: 10px;
  font-size: 30px
}

.social i:not(:last-child){
  margin-right: 30px;
}

.payment{
  margin-bottom: 20px;
}
.payment {
  margin-right: 20px;
  
}

.payment i{
  margin-top: 10px;
  font-size: 30px
}

.payment i:not(:last-child){
  margin-right: 30px;
}

.coppy__right{
  margin: auto;
  background-color: #f1f1f1;
  padding: 15px 0;
}

.coppy__right--content{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.coppy__right p{
       color: #666; 
      font-size: 12px;
}